@import 'reset';
@import 'mixins';

// Variáveis
// Tamanho de fonte
$fs1: 1em;
$fs2: 2em;
// Cores
$color-white: #fff;
$color-dark: #333;
$color-blue: #286cbc;
$color-blue-dark: #0c478c;
$color-gray: #f3f3f3;
$color-gray-dark: #c3c3c3;
$bg-color-header: #286cbc;
$bg-color-footer: #286cbc;

body {
  &:before {
    content: url('../all.icons.svg');
    display: none;
  }
  // Background
  background-color: $color-gray;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  ul.pkm-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    &__item svg{
      padding: 10px;
      max-width: 100px;
    }
  }
}

/*
// Trecho de CSS Gerado a partir do SCSS:
.container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center
}
.container ul.pkm-list{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:30px;
  margin-bottom:50px
}
.container ul.pkm-list__item svg{
  padding:10px;
  max-width:100px
}
*/

//header nav ul.gdgpp__nav {...}
//header nav ul.gdgpp__nav li a {...}
//header nav ul.gdgpp__nav li a:hover {...}
header {
  nav {
    ul.gdgpp__nav {
      background: $bg-color-header;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
      li a{
        &:hover {
          background: $color-gray;
          color: $color-blue;
        }        
        @include default-btn();
        @include border-radius-mixin(10px);
        margin: 0 5px;
        min-width: 140px;
        display: flex;
        flex-basis: 500px;
        color: $color-white;
        font-size: $fs1;
        text-decoration: none;
      }
    }  
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $color-gray;
  text-align: center;
  padding: 20px;
  background-color: $bg-color-footer;
  span a {
    @include border-radius-mixin(10px);
    background-color: $color-blue-dark;
    padding: 10px;
    color: $color-gray;
  }
}