header
  nav
    ul.gdgpp__nav
      li
        a(href='javascript:;', data-palestra='Novidades do angular') Felipe Almeida
      li
        a(href='javascript:;', data-palestra='Introdução ao GraphQL') Leonardo Dias
      li
        a(href='javascript:;', data-palestra='Psicologia da Performance na Web') João Cunha
      li
        a(href='javascript:;', data-palestra='Build Tools para Front-End') Matheus Azambuja